* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

/* HEADER */

.header-bg {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.hr-container-center {
    padding: 0 15%;
    margin: 0 auto;
}

.hr-container-center__nav {
    padding: 10px 0;
    font-size: 15px;
    line-height: 49.98px;
    color: white;
}

.hr-container-center__nav::after {
    content: "";
    display: table;
    clear: both;
}

.hr-container-center__nav__img {
    float: left;
    width: calc(100% / 6);
}

.hr-container-center__nav__ul {
    float: left;
    list-style: none;
    text-align: center;
    width: calc(100% / 6 * 4);
}

.hr-container-center__nav__ul__li {
    display: inline-block;
    padding: 0 10px;
}

.hr-container-center__nav__ul__li__a {
    text-decoration: none;
    color: white;
}

.hr-container-center__nav__link {
    float: left;
    width: calc(100% / 6);
    text-align: right;   
}

.hr-container-center__nav__link__a {
    text-align: center;
    text-decoration: none;
    color: rgb(44, 44, 44);
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
}

.hr-container-center__hero-text {
    width: calc(100% / 6 * 4);
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 80px 0;
}

.hr-container-center__hero-text__h1{
    font-size: 40px;
    padding: 20px 0;
}

.hr-container-center__hero-text__p{
    font-size: 18px;
    padding: 20px 0;
}

.hr-container-center__hero-text__link-box {
    padding: 20px 0;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}

.hr-container-center__hero-text__link-box::after {
    content: "";
    display: table;
    clear: both;
}

.hr-container-center__hero-text__link-box--white {
    color: rgb(44, 44, 44);
    background-color: white ;
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    float: left;
    font-size: 18px;
}

.hr-container-center__hero-text__link-box--black {
    color: white ; 
    background-color: rgb(44, 44, 44);
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    float: right;
    font-size: 18px;
}

/* MAIN */

.mn-container-center {
    padding: 0 15%;
    margin: 0 auto;
    color: rgb(44, 44, 44);
}

.mn-container-center__section,
.mn-container-center__section-big{
    padding: 80px 0;
}

.mn-container-center__section::after {
    content: "";
    display: table;
    clear: both;
}

.mn-container-center__section__img {
    float: left;
    width: calc(100% / 6 * 4);
}

.mn-container-center__section__text {
    float: left;
    width: calc(100% / 6 * 2);
    padding: 30px 0;
}

.mn-container-center__section__text__h1,
.mn-container-center__section-big__text__h1 {
    font-size: 40px;
    padding: 20px 0;
}

.mn-container-center__section__text__p,
.mn-container-center__section-big__text__p {
    font-size: 18px;
    padding: 20px 0;
}

.mn-container-center__section-big__img {
    width: 100%;
}

.mn-container-center__section-big__text {
    width: 90%;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
}

.mn-container-center__section-big__bottom {
    width: calc(100% / 6 *3);
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.mn-container-center__section-big__bottom__h2 {
    width: 100%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mn-container-center__section-big__bottom__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mn-container-center__section-big__download {
    padding-top: 80px;
    text-align: center;
}

.mn-container-center__section-big__download__link {
    color: white;
    background-color: rgb(162, 161, 209);
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

/* FOOTER */

.footer-bg {
    background-color: rgb(44, 44, 44);
}

.fr-container-center {
    padding: 0 15%;
    margin: 0 auto;
}

.fr-container-center::after {
    content: "";
    display: table;
    clear: both;
}

.fr-container-center__left {
    width: calc(100% / 6 * 1);
    float: left;
    padding-top: 80px;
}

.fr-container-center__left__h2 {
    font-size: 30px;
    color: rgb(127, 125, 207);
    padding-bottom: 20px;
}

.fr-container-center__left__select {
    width: 50%;
    font-size: 15px; 
    background-color: rgb(44, 44, 44);
    border: none;   
    color: white;
}

.fr-container-center__left__icons {
    width: 75%;
    padding: 20px 0;
    color: white;
}

.fr-container-center__left__icons--twitter {
    width: calc(90% / 4);
    color: rgb(29, 161, 242);
}

.fr-container-center__left__icons--instagram {
    width: calc(90% / 4);
    color: rgb(225, 48, 108);
}

.fr-container-center__left__icons--facebook {
    width: calc(90% / 4);
    color: rgb(66, 103, 178);
}

.fr-container-center__left__icons--youtube {
    width: calc(90% / 4);
    color: rgb(255, 0, 0);
}

.fab {
    font-size: 20px;
}

.fr-container-center__lists {
    width: calc(100% / 6 * 5);
    float: left;
    padding-top: 80px;
    padding-left: 160px;
}

.fr-container-center__lists__ul {
    width: 25%;
    font-size: 15px;
    list-style: none;
    float: left;
}

.fr-container-center__lists__ul__li {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 0;
}

.fr-container-center__lists__ul__li--top {
    color: rgb(127, 125, 207);
    font-weight: bold;
    padding-top: 10px;
}

.fr-container-center__bottom {
    padding-bottom: 80px;
}

.fr-container-center__bottom__img {
    width: calc(100% / 6);
    vertical-align: middle;
}

.fr-container-center__bottom__link {
    margin-left: calc(100% / 6 * 4);
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(162, 161, 209);
    padding: 5px 20px;
    border-radius: 20px;
}





