
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

/* HEADER */

.header-bg {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.hr-container-center {
    width: 80%;
    margin: 0 auto;
}

.hr-container-center__nav {
    padding: 10px 0;
    font-size: 16px;
    line-height: 49.98px;
    color: white;
}

.hr-container-center__nav::after {
    content: "";
    display: table;
    clear: both;
}

.hr-container-center__nav__img {
    float: left;
    width: 15%;
}

.hr-container-center__nav__ul {
    float: left;
    list-style: none;
    text-align: center;
    width: 70%;
}

.hr-container-center__nav__ul__li {
    display: inline-block;
    padding: 0 10px;
}

.hr-container-center__nav__ul__li__a {
    text-decoration: none;
    color: white;
}

.hr-container-center__nav__link {
    float: left;
    width: 15%;
    text-align: right;   
}

.hr-container-center__nav__link__a {
    text-align: center;
    text-decoration: none;
    color: rgb(44, 44, 44);
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
}

.hr-container-center__hero-text {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: white;
}




